<% include ./partials/header %>
<div class="container-fluid">
    <% include ./partials/subheader %>
    <div class="tab-content faqs-tab-content" id="nav-tabContent">

        <!-- //PROJECTS TAB -->
        <div class="tab-pane fade show active" id="list-projects" role="tabpanel" aria-labelledby="list-projects-list">
            <div class="myps">
                <div class="faqs-tab-bar">
                    <h3 class="subheading">
                        Projects
                        <code class="badge badge-blue"><%= (user.project)? user.project.length : 0 %></code>
                    </h3>
                    <ul class="navbar faqs-header-navbar-item-right">
                        <li class="nav faqs-header-nav-item">
                            <a href="#modal" data-toggle="modal" class="fabtn fabtn-info">
                                <i class="fas fa-plus">&nbsp;</i> New Project
                            </a>
                        </li>
                    </ul>
                </div>

                <!-- project elements -->
                <div class="faqs-grid">
                    <% if(typeof user.project !== 'undefined') { %>
                    <% user.project.forEach(function(project) { %>
                    <div class="faqs-card">
                        <div class="top">
                            <div class="dropdown">
                                <a data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
                                    aria-expanded="false" class="nav-link faqs-link">
                                    <i class="fas fa-ellipsis-h"></i>
                                </a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item nav-link faqs-link nav-item" href="#"><i
                                            class="fas fa-edit">&nbsp;</i> Edit</a>
                                    <a class="dropdown-item nav-link faqs-link nav-item"
                                        href="/v2/project/<%= project._id %>"><i class="fas fa-trash">&nbsp;</i>
                                        Delete</a>
                                </div>
                            </div>

                        </div>
                        <a href="/v2/project/<%= project._id %>/questions" class="faqs-card-content">
                            <h5 class="text-dark text-center">
                                <span>
                                    <%= project.title %>
                                </span>
                            </h5>
                            <!-- <% if(project.isActive == 0) { %>
                            <code class="badge badge-red">OFFLINE</code>
                            <% } else if(project.isActive == 1) { %>
                            <code class="badge badge-green">ONLINE</code>
                            <% } %> -->
                            <small class="text-muted">
                                <i class="fas fa-link">&nbsp;</i>
                                <span><%= project.webUrl %></span>
                            </small>
                        </a>
                        <div class="faqs-card-footer bottom">
                            <small class="text-muted">
                                <strong>Created: </strong><span>
                                    <%= date(project.date).calendar() %></span>
                            </small>
                        </div>
                    </div>
                    <% }) %>
                    <% } %>
                    <% if(user.project.length == 0) { %>
                    <div class="text-center">
                        <h4 class="text-muted">No Project Created!</h4>
                    </div>
                    <% } %>
                </div>
            </div>
        </div>

        <!-- //OVERVIEW TAB -->
        <div class="tab-pane" id="list-overview" role="tabpanel" aria-labelledby="list-overview-list">
            <div class="myps">
                <div class="card">
                    <div class="card-body">
                        <div class="row p-0 m-0 faqs-row">
                            <div class="col-md-3">
                                <div class="card-flex">
                                    <div class="circle">
                                        <i class="fas fa-folder"></i>
                                    </div>
                                    <div class="content">
                                        <small class="subtitle">Total Projects</small>
                                        <h4 style="padding: 0; font-weight: bold;" data-name="kfield"><%= (user.project)? user.project.length:0 %></h4>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="card-flex">
                                    <div class="circle">
                                        <i class="fas fa-question-circle "></i>
                                    </div>
                                    <div class="content">
                                        <small class="subtitle">Total Questions</small>
                                        <h4 style="padding: 0; font-weight: bold;"><span><% let projs = user.project;
                                            let _questns = [];
                                            let _arr = [];
                                            projs.forEach(function(project){ 
                                                let _cat = project['category'];
                                                _cat.forEach(function(cat){
                                                    _questns.push(cat['question'].length);
                                                })
                                                
                                            });
                                            let vals = _questns.reduce((a,b)=>a+b,0);
                                            %></span>
                                    <span ><%= vals %></span></h4>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="card-flex">
                                    <div class="circle">
                                        <i class="fas fa-layer-group"></i>
                                    </div>
                                    <div class="content">
                                        <small class="subtitle">Total Categories</small>
                                        <h4 style="padding: 0; font-weight: bold;">
                                            <span><% let proj = user.project;
                                                let _dashCat = [];
                                                proj.forEach(function(project){ 
                                                    
                                                    _dashCat.push(project['category'].length);
                                                });
                                                let total = _dashCat.reduce((a,b)=>a+b,0)
                                                %></span>
                                        <span data-name="kfield"><%= total %></span></h4>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="card-flex">
                                    <div class="circle">
                                        <i class="fas fa-chart-bar"></i>
                                        
                                    </div>
                                    <div class="content">
                                        <small class="subtitle">Total Clicks</small>
                                        <h4 style="padding: 0; font-weight: bold;" data-name="kfield">
                                        </h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card mt-3">
                    <div class="row p-0 m-0">
                        <div class="col-md-8 ">
                            <div class="card-body">
                                <h5 class="subheading">Most active project</h5>
                            </div>
                        </div>
                        <div class="col-md-4 p-0 m-0">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- //MODAL CODE -->
<div class="modal modal-right fade" id="modal" tabindex="-1">
    <div class="modal-dialog" role="document" id="modal-dialog">
        <div class="faqs-content">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <i class="fas fa-times"></i>
            </button>
            <div class="modal-content p-5">
                <h4 class="modal-title mb-5">New Project</h4>
                <form action="/v2/project" method="POST">
                    <input type="text" name="userId" id="userId" value="<%= user._id %>" hidden="hidden">
                    <div class="form-group">
                        <label for="title" class="label">Project Name</label>
                        <input type="text" name="title" id="title" class="form-control"
                            value="<%= typeof title !== 'undefined' ? title : '' %>" required>
                    </div>
                    <div class="form-group pt-3">
                        <label for="webUrl" class="label">Website Url</label>
                        <input type="text" name="webUrl" id="webUrl" class="form-control"
                            value="<%= typeof webUrl !== 'undefined' ? webUrl : '' %>" required>
                    </div>
                    <div class="">
                        <button type="submit" class="fabtn fabtn-info"><i class="fas fa-save">&nbsp;</i> Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>