<% include ../partials/header %>
<div class="container-fluid">
    <div class="faqs-subheader">
        <div class="list-group faqs-list-group" id="list-tab" role="tablist">
            <a class="list-group-item list-group-item-action show active" id="list-profile-list" data-toggle="list"
                href="#list-profile" role="tab" aria-controls="profile">
                <i class="fas fa-user faqs-subheader-icons"></i>
                <span>My profile</span>
            </a>
            <a class="list-group-item list-group-item-action" id="list-password-list" data-toggle="list"
                href="#list-password" role="tab" aria-controls="password">
                <i class="fas fa-lock faqs-subheader-icons"></i>
                <span>Password</span>
            </a>
        </div>
    </div>
</div>

<!-- //BOTTOM CONTETNT -->
<div class="container my-5">
    <div class="tab-content" id="nav-tabContent">
        <!-- //my profile tab -->
        <div class="tab-pane fade show active" id="list-profile" role="tabpanel" aria-labelledby="list-profile-list">
            <div class="card">
                <div class="row m-0">
                    <div class="col-md-5 p-5">
                        <div class="">
                            <div class="card-img">
                                <img src="/users/photo" alt="<%= user.name %>"
                                    onerror="this.src='/images/placeholder.png';" />
                            </div>
                            <div class="form-group upload-btn mt-4">
                                <button class="fabtn fabtn-info-outline">Replace Photo</button>
                                <input type="file" name="avatar" id="avatar">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-7 p-5">
                        <form action="/users/<%= user._id %>/myaccount" name="basic" enctype="multipart/form-data"
                            method="POST">
                            <div class="form-group">
                                <label for="name">Name</label>
                                <input type="text" name="name" id="name" value="<%= user.name %>" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="email">Email</label>
                                <input type="text" name="email" id="email" value="<%= user.email %>"
                                    class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="city">City</label>
                                <input type="text" name="city" id="city" value="<%= user.city %>" class="form-control">
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="form-group">
                                            <label for="province">Province</label>
                                            <input type="text" name="province" id="province"
                                                value="<%= user.province %>" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="form-group">
                                            <label for="country">Country</label>
                                            <input type="text" name="country" id="country" value="<%= user.country %>"
                                                class="form-control">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="mobile">Mobile</label>
                                <input type="tel" name="mobile" id="mobile" value="<%= user.mobile %>"
                                    class="form-control">
                                <small id="emailHelp" class="form-text text-muted">
                                    e.g +1(587)596-2239
                                </small>
                            </div>
                            <div class="form-group mt-4 float-right">
                                <button class="fabtn fabtn-info" type="submit">
                                    UPDATE SETTINGS
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- //password reset tab -->
        <div class="tab-pane fade" id="list-password" role="tabpanel" aria-labelledby="list-password-list">
            <div class="card">
                <div class="row">
                    <div class="col-md-8 mx-auto py-5">
                        <h5 class="subheading mb-3">PASSWORD RESET</h5>
                        <form action="/users/<%= user._id %>/myaccount" method="POST" name="passrest">
                            <div class="form-group">
                                <label for="opassword">Old Password</label>
                                <input type="password" name="opassword" id="opassword" value="<%= user.password %>"
                                    class="form-control" readonly>
                            </div>
                            <div class="form-group">
                                <label for="password">New Password</label>
                                <input type="password" name="password" id="password" value="" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="cpassword">Confirm Password</label>
                                <input type="password" name="cpassword" id="cpassword" value="" class="form-control">
                            </div>
                            <div class="form-group mt-4 float-right">
                                <button class="fabtn fabtn-info" type="submit">
                                    UPDATE PASSWORD
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>