<section class="dash-content">
    <div class="dash-body p-5">
        <h3 class="subheading mb-5">
            <span>Questions</span>
            <% categories.forEach(function(cats) { 
                let questions = []
                questions.push(cats['question'])
             }) %>
            <span class="badge badge-blue"><%= (questions)? questions.length : 0 %></span>
            
        </h3>
        <div class="faqs-tab-bar mb-5">
            <small class="text-muted">search...</small>
            <a href="#modal" data-toggle="modal" class="fabtn fabtn-info">
                <i class="fas fa-plus"></i>
                <span>Add Question</span>
            </a>
        </div>
        <div class="questions">
                <% if(categories.length == 0) { %>
                    <o class="">
                        <small class=" text-danger">Create a new category to add questions!</small>
                    </o>
                <% } %>
            <% categories.forEach(function(cat) { %>
            <section class="mb-5">
                <div class="cat-heading">
                    <p class="subheading">
                        <span><%= cat.title %></span>
                        <span class="badge"
                            style="background: <%= cat.color %>; color: white;">
                            <%= (cat['question'])? cat['question'].length : 0 %></span>
                    </p>
                </div>
                <ul class="ul accordion my-2" id="accordionExample">
                    <% if(cat['question'].length == 0) { %>
                        <li class="">
                            <small class="text-danger">No question(s) for this category!</small>
                        </li>
                    <% } %>
                    <% if(cat['question'].length != 0) { %>
                    <% cat['question'].forEach(function(val) { 
                        let domId = val.question.replace(/[\?.,\s]/g, '').toLowerCase(); %>
                    <li class="list-item my-2 card-new" style="width: 100%;">
                        <div class="card-header btn-control" id="headingOne">
                            <input type="text" value="<%= val.question %>" class="list-control">
                            <div class="flex-end">
                                <button class="btn btn-link" data-toggle="collapse" data-target="#<%= domId %>"
                                    aria-expanded="true" aria-controls="<%= domId %>">view <i
                                        class="fas fa-arrow-down"></i></button>
                                <button class="btn btn-link text-success"><i class="fas fa-edit"></i></button>
                            </div>
                        </div>
                        <div id="<%= domId %>" class="collapse" aria-labelledby="headingOne"
                            data-parent="#accordionExample">
                            <div class="card-body">
                                <%= val.answer %>
                            </div>
                        </div>
                    </li>
                    <% }) %>
                    <% } %>
                </ul>
            </section>
            <% }) %>
        </div>
    </div>
    <% include ../../partials/categoryside %>
</section>

<!-- <script>
    var colorArray = ['red', 'yellow', 'green', 'orange', 'purple', 'indigo', 'violet', 'ruby', 'cyan', 'tael']
    const colorPick = document.querySelectorAll('#color');
    for(let i = 0; i < colorPick.length; i++) {
        colorPick[i].style.backgroundColor = colorArray[Math.floor(Math.random() * colorArray.length-1)];
    }
</script> -->

<div class="modal fade show" id="modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Create question</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="/v2/project/<%= proj_id %>/<%= title %>" method="POST">
                <div class="modal-body">
                    <input type="text" name="userId" id="userId" value="<%= user._id %>" hidden="hidden">
                    <div class="form-group">
                        <label for="question">Question</label>
                        <input type="text" name="question" id="question" class="form-control"
                            value="<%= typeof question !== 'undefined' ? question : '' %>" required>
                    </div>
                    <div class="form-group">
                        <label for="category">Category</label>
                        <select name="cats" id="cats" class="form-control" required>
                            <% if(typeof user.project != 'undefined') { %>
                            <% categories.forEach(function(category) { %>
                            <option value="<%= category._id %>">
                                <%= category.title %>
                            </option>
                            <% }) %>
                            <% } %>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="alias">Answer</label>
                        <textarea type="text" name="answer" id="answer" class="form-control"
                            value="<%= typeof answer !== 'undefined' ? answer : '' %>" required></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Save changes</button>
                    <button type="reset" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- //Categories -->